body {
    background: repeating-linear-gradient(
      45deg,
      rgb(79, 228, 220),
      white );
     font-family:'Poppins',sans-serif;
}
.header {
    background-image:url('./images/1700150925743.jpeg.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-size: 3em;
}
.content {
    padding: 20px;
}